*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../assets/back.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
     position: relative;     
     overflow-x: hidden;
}

.container{
    position: relative;

    width: 100%;
    height: 100vh;    
}

#header{
    width: 100%;
    /* height: 10vh; */
    /* display: ; */
}

#logo{
    position: fixed;
    z-index: 1000;
    left: 3%;
    top: 3%;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 23px;
    color: white;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    height: 10vh;
    
}

#menu-mobile{
    display: none;
}

#menu{
    position: fixed;
    z-index: 1000;
    width: 100%;
    /* height: 10vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: sans-serif;
    
}

#nav li, a{
    list-style: none;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 15px;
}

#menu > li a:hover{
    transition: .5s;
    border-bottom: 1px solid orangered;
} 

#redes{
    position: absolute;
    left: 95%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#redes i{
    color: #8c8c8c;
    font-size: 30px;
}

#redes i:hover{
    transition: .5s;
    color: #F44926;
}

 .apresentation{
    font-family: sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 80%;
    text-align: center;
    font-size: 30px;
    z-index: -1;
} 

.apresentation h2{
    color: #8c8c8c;
    font-size: 30px;
    margin-top: 10px;
}

#menu li a{
    position: relative;
    overflow: hidden;
}

main{
    position: relative;
    width: 100%;
    height: 100vh;
}

.retangulo{
    position: absolute;
    top: -30%;
    left: -300px;
    width: 100px;
    height: 100px;
}

.retangulo2{
    position: absolute;
    top: 100%;
    left: 100%;
    width: 100px;
    height: 100px;
    transform: rotate(90deg);
    z-index: 1;
}

#sobre{
    position: relative;
    width: 100%;
    /* height: 100%; */
    margin-bottom: 50px;
    text-align: center;
    /* background-color: #8c8c8c; */
}

#sobre img{
    width: 50vw;
}

.minhas-informacoes{
    margin: 0 auto;
    width: 53%;
    font-family: Arial, Helvetica, sans-serif;
    color: #cfcdcd;
    text-align: center;
}

@keyframes infor1 {
    0%{
        left: 50%;
    }

    50%, 100%{
        left: 33%;
    }
} 
@keyframes infor2 {
    0%{
        left: 33%;
    }

    50%, 100%{
        left: 50%;
    }
} 
#sobre span:nth-last-child(1){
    position: absolute;
    display: block;
    width: 20%;
    left: 50%;
    overflow: hidden;
    height: 2px;
    background: #F44926;
    animation: infor1 2s linear infinite; 
    animation-direction: alternate-reverse;
    
}

#sobre span:nth-last-child(2){
    position: absolute;
    display: block;
    width: 20%;
    height: 2px;
    background: #F44926;
    animation: infor2 2s linear infinite; 
    animation-direction: alternate-reverse;
}


#projetos{
    width: 100%;
    position: relative;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;   
    overflow: hidden;
}

#projetos > hr{
    margin: 30px auto;
    text-align: center;
    width: 50%;
    height: 2px;
    border: none;
    background-color: #F44926;
}
#colecao{
    width: 200%;
    /* height: 80vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .7s;
    margin-bottom: 40px;
}


#pag1, #pag2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    /* grid-template: auto auto / auto auto auto; */
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* background-color: #F44926; */
}

.square{
    position: relative;
    width: 400px;
    height: 250px;
    transition: .7s;
    opacity: .7;
    cursor: pointer;
    z-index: 1;
    color:#F44926;
    transform-style: preserve-3d;
    /* background-color: #26f4ce; */
}

.flip{
    transform: rotateY(180deg)
}

.projeto{
    position: absolute;
    width: 100%;
    height: 100%;   
    z-index: 1;
    transition: .7s;
background-color: #cfcdcd;
    backface-visibility: hidden;
}

.projeto-descricao{
    /* padding: 15px; */
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    /* transform: rotateY(180deg); */
    backface-visibility: hidden;
    transition: .7s;
    font-size: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.projeto-descricao p{
    width: 90%;
}

.projeto-descricao a > button{
    background-color: transparent;
    color: white;
    /* padding: 15px; */
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
}

#pagina1, #pagina2{
    margin: 0 auto;
    background-color: transparent;
    border: none;
    color: #F44926;
    font-size: 25px;
    cursor: pointer;
}


#pagina1{
    display: none;
}

#meta{
    width: 100%;
    height: 100vh;
    background-color: transparent;
}

#habilidades{
    /* position: relative; */
    margin-top: 40px;
    width: 100%;
    /* height: 50vh; */
    background: black;
    color: white;
}

#habilidades > h1{
    /* z-index: 100000000000000000000000; */
    padding: 80px;
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 20px;
}

.grid-habilidades{
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.grid-habilidades > div{
    width: 310px;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    font-size: 80px;
    display: flex;
    overflow: hidden;
}
.grid-habilidades div > p{
    text-align: left;
    font-size: 13px;
    color: #8c8c8c;
    font-family: sans-serif;
}


@media(max-width: 800px){
    .square{
        width: 100%;
    }
    .square:hover{
        transform: none;
    }

    .minhas-informacoes{
        width: 80%;
    }
}


@media(max-width: 460px){



    #header{
        /* background-color: black; */
        text-align: center;
        height: 25vh;
        
    }
    #logo{
        margin-top: 10px;; 
        display: block;
        position: relative;
        left: 0;
        top: 0;
        font-size: 35px;
        height: 10%;
    }
    nav{
        /* background-color: #cfcdcd; */
        position: fixed;
        top: 93vh;
        display: flex;
        width: 100%;
        height: 7vh;
        z-index: 100;
        align-items: flex-start;
    }


    #menu li{
        width: 100%;
        /* height: 15%; */
       /* color: #F44926; */
        display: none;
        justify-content: center;
        align-items: center;
        
    }

    #redes{
        display: none;
    }

    #menu-mobile{
        position: fixedS;
        background-color: #F44926;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #menu-mobile li{
        width: 100%;
        /* padding: 20px; */
    }

    #menu-mobile > .btn-home > a{
        position: relative;
        top: -20px;
        padding: 15px;
        /* border: 1px solid white; */
        /* background-color: #F44926; */
    }
    #menu-mobile > .btn-home > a > i{
        box-shadow: inset 0 0 0.5em rgba(0, 0, 0, 0.288);
        background-color: #F44926;
        font-size: 40px;
        border-radius: 50%;
        padding: 20px;
        /* border: 1px solid rgba(255, 255, 255, 0.178); */
    }

    #menu-mobile > li > a:hover{
        transition: .5s;
        color: rgb(88, 88, 88);
    }


    
    
    #menu-mobile i{
        font-size: 25px;
    }


    .apresentation{
        font-size: 20px;
    }
}